.input-help {
    margin: 6px 5px 6px 0px;
    height: fit-content;
  }
  .input-help i {
    color: #696cff;
  }
  .tox-tinymce {
    height: 300px !important;
    width: 100% !important;
  }
  .breadcrumb-item a:hover {
    color: #696cff;
  }
  .add-new a span {
    margin-bottom: 3px;
  }
  .back-to-list a span {
    font-size: 0.8rem;
  }
  .form-check-input[type=checkbox] {
    margin: 8px 5px 8px 0px;
  }
  .accordion-title i {
    font-size: 1.5rem;
  }
  .accordion .accordion-item.active {
    border-top: 3px solid #696cff;
    transition: 0.3s;
  }
  .accordion .accordion-item {
    border-top: 3px solid #D2D6DE;
    transition: 0.3s;
  }

  .img-prev-div {
    display: table;
    background-image: url(../img/backgrounds/default-image_100.png);
    background-size: contain;
    border: 3px solid;
    content: "";
    height: 100px;
    width: 100px;
    padding: 3px;
    margin: 0 auto;
  }
  .img-prev-div img {
    width: 88px;
    height: 88px;
  }
  input {
    height: fit-content;
  }
  .list-action-btn {
      width: fit-content;
      margin: 0px 3px;
  }
  .delete-icon {
      color: #ff3e1d;
      border: 0.07em solid #ff3e1d;
  }
  .card-list {
      border-top: 3px solid #696cff;
  }
  .search-label {
      text-align: end;
      padding: 10px 0px 10px 10px;
  }
  .card-header i {
      font-size: 1.5rem;
  }
  .count-section {
    padding: 1.5rem 1.5rem;
    margin: 0;
    text-align: end;
  }
.record-div {
    display: inline-flex;
}
.record-label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid;
    padding: 0.5em 0.593em;
}
.record-count {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
span.currency {
    font-weight: 800;
}


.modal-backdrop {
    /* position: initial !important; */
}
